<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <h1>todo<span>List</span></h1>
      <h2>A simple todo list app built with node and express</h2>
    </header>

    <section class="form">
      <input type="text" id="todoInput" placeholder="Insert your todo here.....">
    </section>

    <ul class="list">

    </ul>

  </body>
  <script src="app.js" charset="utf-8"></script>

  </script>
</html>
